@page
@model BankApp.Pages.Transaction.TransferModel
@{
}

<link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<div class ="top-container">
        <div class = "main-container"> 
            <h1>Transfer money</h1>
            <form method = "post">
                  <div class = "form-group">
                    <th>@Html.DisplayNameFor(x => x.AccountId)</th>
                    <td>@Model.AccountId</td>
              </div>
             <div class = "form-group">
                    <th>@Html.DisplayNameFor(x => x.Balance)</th>
                    <td>@Model.Balance</td>
              </div>
            <input type="hidden" name = "type" value="Debit" />
            <input type="hidden" name = "operation" value="Remittance to Another Bank" />
             <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Bank)</label>
                    <input asp-for="Bank" class="form-control" />
                    <span asp-validation-for="Bank" class="text-danger"></span>
                </div>
                <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.AccountTo)</label>
                    <input asp-for="AccountTo" class="form-control" />
                    <span asp-validation-for="AccountTo" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Amount)</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                  <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Comment)</label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                  <div class = "form-btn-group">
                    <button type="submit" class="btn-save">Submit</button>
                </div>
            </form>
        </div>
   </div>
   @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   }