@page
@model BankApp.Pages.Customer.EditModel
@{
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
  <script src="https://kit.fontawesome.com/607a5ea1bc.js" crossorigin="anonymous"></script> 
<body>
<div class ="top-container">
            
        <div class = "main-container" id = "big-form"> 
            <h1>Edit the customer</h1>
            <form method = "post">
                <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Givenname)</label>
                    <input asp-for="Givenname" class="form-control" />
                    <span asp-validation-for="Givenname" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Surname)</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Gender)</label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Birthday)</label>
                    <input asp-for="Birthday" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.NationalId)</label>
                    <input asp-for="NationalId" class="form-control" />
                    <span asp-validation-for="NationalId" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Emailaddress)</label>
                    <input asp-for="Emailaddress" class="form-control" />
                    <span asp-validation-for="Emailaddress" class="text-danger"></span>
                </div>
                <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Telephonecountrycode)</label>
                    <input asp-for="Telephonecountrycode" class="form-control" />
                    <span asp-validation-for="Telephonecountrycode" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Telephonenumber)</label>
                    <input asp-for="Telephonenumber" class="form-control" />
                    <span asp-validation-for="Telephonenumber" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Streetaddress)</label>
                    <input asp-for="Streetaddress" class="form-control" />
                    <span asp-validation-for="Streetaddress" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Zipcode)</label>
                    <input asp-for="Zipcode" class="form-control" />
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.City)</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Country)</label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.CountryCode)</label>
                    <input asp-for="CountryCode" class="form-control" />
                    <span asp-validation-for="CountryCode" class="text-danger"></span>
                </div>
                  <div class = "form-btn-group">
                    <button type="submit" class="btn-save">Save</button>
                </div>
            </form>
        </div>
   </div>
</body>

   @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 