@page
@model BankApp.Pages.Customer.ViewCustomerModel
@{
}
 <link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
  <script src="https://kit.fontawesome.com/607a5ea1bc.js" crossorigin="anonymous"></script> 
  <body>
       <div class = "top-container">
     <div class = "over-container">
        <div class = "customer">
                <div class = "customer-box">
            <div class = "customer-icon">             
                  <i class="fas fa-user"></i>
            </div>
           
               <table class = "table-customer">
                 
                  <tr>
                      <th>@Html.DisplayNameFor(x => x.Name)</th> 
                      <td>@Model.Name</td>
                  </tr> 
                  <tr>
                        <th>@Html.DisplayNameFor(x => x.Gender)</th> 
                        <td>@Model.Gender</td>
                  </tr> 
                  <tr>
                        <th>@Html.DisplayNameFor(x => x.NationalId)</th>
                        <td>@Model.NationalId</td>
                      
                  </tr> 
                  <tr>
                         <th>@Html.DisplayNameFor(x => x.Birthday)</th> 
                         <td>@Model.Birthday</td>
                  </tr> 
                  <tr>
                         <th>@Html.DisplayNameFor(x => x.Address)</th> 
                         <td>@Model.Address</td>
                  </tr> 
                  <tr>
                        <th>@Html.DisplayNameFor(x => x.Phone)</th> 
                         <td>@Model.Phone</td>
                  </tr> 
                  <tr>
                          <th>@Html.DisplayNameFor(x => x.Email)</th> 
                          <td>@Model.Email</td>
                  </tr>          
               </table>
           
            </div>
            <div class = "edit">
                <h1>@Model.NationalCode</h1>
                <button class = "btn-edit"><a asp-page="/Customer/Edit" asp-route-customerId="@Model.CustomerId">Edit</a></button>
            </div>
        </div>

        <div class = "balance-box">
            <h2>Total balance</h2>
            <h1>@Model.TotalBalance</h1>
        </div>
    </div>

    <div class = "lower-container">
        <h2>Customer Accounts</h2>

        <div class = "btn-box">
            <button class = "btn-bank">Pay</button>
             <button class = "btn-bank">Deposit</button>
              <button class = "btn-bank">Withdraw</button>
               <button class = "btn-bank">New account</button>
        </div>

        <div class = "info_bar">
             <table class = "table-accounts">
                  <tr>
                      <th>Account number</th>
                      <th>Balance</th>   
                      <th>Ownership</th>   
                      <th></th>
                  </tr>
                  @foreach (var item in Model.AccountItems)
                  {
                      <tr>
                          <td class = "account-td">@item.AccountId</td>
                          <td class = "account-td">@item.Balance</td>
                          <td class = "account-td">@item.Type</td>
                          <td class = "account-td">
                              <a asp-page="/Account/Details" asp-route-accountId="AccountId"><i class="fas fa-caret-right"></i></a>
                          </td>
                      </tr>
                  }
              </table>    
        </div>
           
    </div>
</div>
  </body>