@page
@model BankApp.Pages.Account.DetailsModel
@{
}

<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
  <script src="https://kit.fontawesome.com/607a5ea1bc.js" crossorigin="anonymous"></script> 
<body>
 <div class ="top-container">
            
        <div class = "main-container">
            <div class = "info_bar summering">
                <table class = "table sum">
                    <tr>
                        <th>Account Id</th>
                        <th>Created</th>
                        <th>Total Balance</th>       
                    </tr>
                    <tr>
                        <td>@Model.AccountId</td>
                        <td>@Model.Created</td>
                        <td>@Model.TotalBalance</td>
                    </tr>
                </table>    
            </div>
          
            <div class = "info_bar customers">

                    <div class = "btn-box">
                        <button class = "btn-bank">Pay</button>
                       <button class = "btn-bank"><a asp-page="/Account/Withdrow" asp-route-accountId="@Model.AccountId">Add Account</a>Withdraw</button>
                        <button class = "btn-bank"><a asp-page="/Account/Deposite" asp-route-customerId="@Model.CustomerId"></a>Add Account</button>
                    </div>

                <table class="table customer">
                    <tr>
                        <th>Date</th>
                        <th>Operation</th>
                        <th>Amount</th>
                        <th>Bank</th>
                        <th>Account</th>
                        <th>Comment</th>
                        <th>Ballance</th>
                    </tr>
                    @foreach (var item in Model.TransactionItems)
                    {
                        <tr>
                            <td> @item.Date</td>
                            <td> @item.Operation</td>
                            <td> @item.Amount</td>
                            <td> @item.Bank</td>
                            <td> @item.ToAccount</td>
                            <td> @item.Comment</td>
                           <td> @item.CurrentBalance</td>
                        </tr>
                    }
                     
                </table>
                @{
                    var tempPageNr = @Model.PageNr + 1;
                    var tempAccountId = @Model.AccountId;
                }
                
                    <form class="login-form" method="get" asp-page-handler="Load More">
                         <input type="hidden" name="page1" value="@tempPageNr" />
                         <input type="hidden" name="accountId" value="@tempAccountId" />
                         <button>Load More...</button>
                    </form>
             
            </div>
        </div>
    </div>
   
</body>

