@page
@model BankApp.Pages.Account.WithdrowModel
@{
}
<link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
 <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<div class ="top-container">
            
        <div class = "main-container"> 
            <h1>Withdraw money</h1>
            <form method = "post">
               <div class = "form-group">
                    <th>@Html.DisplayNameFor(x => x.AccountId)</th>
                    <td>@Model.AccountId</td>
              </div>
             <div class = "form-group">
                    <th>@Html.DisplayNameFor(x => x.Balance)</th>
                    <td>@Model.Balance</td>
              </div>
                 <div class = "form-group">
                    <label>@Html.DisplayNameFor(x => x.Amount)</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                
                  <div class = "form-btn-group">
                    <button type="submit" class="btn-save">Withdraw</button>
                </div>
            </form>
        </div>
   </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}